body{
  padding: 20px;
}
.alan-api{
  max-width: 600px;
  width: 100%;
}
.output-box, .question-box{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-height: 100px;
}
.question-box{
  background-color: #fff;
}
.question-box h3{
  margin: 0;
}
.output-box{
  width: 100%;
  white-space: pre-wrap;
}
